[Desktop Entry]
Version=1.0
Type=Application
Name=NOSTV
Comment=Unofficial NOSTV desktop application
Icon=nostv
Exec=nostv
Actions=
Categories=AudioVideo;Video;
GenericName=Unofficial NOSTV desktop application
